<footer>
    <!-- <div class="footerdivparent"> -->
    <div class="footerDiv">
        <p>Built and designed by :

        <!-- <a class="footerLink" href="http://www.peterking.info">www.peterking.info</a> -->
    
         </p>
            
        <p>golf.scorecards.app@gmail.com</p>
       
   </div>

<!-- start of back button on botton bar -->
        <a class="smallpicAtag" href="/digitalscorecard">
            <div class="bottomBar">  
            </div>
        </a>
<!-- end of start of back button on botton bar -->

</footer>